@import "header.scss";

body {
    width: 100%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    color: $main_color;
}

.scroll {
    width: 100%;
    overflow-x: hidden;
}

.wrapper {
    max-width: $wrapper_width;
    margin: 0 auto;
}


$main_side_padding_sample: 215px;
$mobile_main_side_padding_sample: 24px;

$main_side_padding: $main_side_padding_sample / $wrapper_width * 100%;

%main_paddings {
    padding: 0 $main_side_padding;

    @media (max-width: 1220px) {
        padding: 0 7%;;
    }
    @media (max-width: $mobile_width) {
        padding: 0 $mobile_main_side_padding_sample;
    }
}

.intro, .partners, .features, .features__block {
    transition: 2s;
}



.intro {
    padding-top: 126px;

    @media (max-width: 970px) {
        padding-top: 80px;
    }

    @media (max-width: $mobile_width) {
        padding-top: 52px;
    }

    $intro_height: 518.35px;

    &__wrapper {
        @extend %main_paddings;
    }

    &__block {
        position: relative;
        height: $intro_height;
    }

    &__left, &__img_1 {
        height: $intro_height;
    }

    &__img_2 {
        display: none;
    }

    &__left {
        padding-top: 96px;
    }

    &__title {
        max-width: 510px;
        font-weight: 600;
        font-size: 48px;
        line-height: 60px;
        padding-bottom: 16px;
    }

    &__text {
        max-width: 485px;
        font-size: 17px;
        line-height: 28px;
        padding-bottom: 34px;
    }
    
    &__button {
        width: 180px;
        height: 66px;
        background: #00ECD0;
        border: 0;
        border-radius: 6px;
        border: 1px solid #00ECD0;
        box-sizing: border-box;
        color: $main_color;

        &:active {
            // color:#00ECD0;
            background: white;
        }

        &:hover {
            border: 1px solid $main_color;
        }

        @extend %transition;
    }

    &__right {
        position: absolute;
        bottom: 0;
        right: -18px;
    }

    @media (max-width: 1410px) {
        &__block {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: fit-content;
        }

        &__left {
            text-align: center;
            display: flex;
            justify-content: center;
            padding-top: 40px;
            width: 100%;
            min-height: 400px;
            height: fit-content;
            padding-bottom: 30px;

            &__block {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        &__right {
            position: static;
            width: 100%;
            display: flex;
            justify-content: center;
        }

        &__img_1 {
            margin-left: -160px;
        }
    }

    @media (max-width: $mobile_width) {

        &__wrapper {
            padding: 0 0;
        }

        &__left {
            min-height: fit-content;
            padding: 0 $mobile_main_side_padding_sample;
            padding-top: 63px;
            padding-bottom: 41px;
        }

        &__title {
            max-width: 292px;
            font-size: 28px;
            line-height: 27px;
            padding-bottom: 20px;
        }
    
        &__text {
            max-width: 280px;
            font-size: 14px;
            line-height: 20px;
        }
        
        &__button {
            width: 120px;
            height: 40px;
            font-size: 14px;
            line-height: 17px;
        }

        &__right {
            padding: 0 12px;
        }

        &__img_1 {
            display: none;
        }

        &__img_2 {
            display: block;
            width: inherit;
            max-width: 350.02px;
        }
    }
}



.partners {
    padding-top: 121.89px;
    padding-bottom: 130px;

    @media (max-width: $mobile_width) {
        padding-top: 41px;
        padding-bottom: 50px;
    }

    &__wrapper {
        @media (max-width: $mobile_width) {
            padding: 0 21px;
        }

        @extend %main_paddings;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 49px;

        @media (max-width: 980px) {
            flex-direction: column;
            align-items: center;
            justify-content:flex-start;
        }

        @media (max-width: $mobile_width) {
            padding-bottom: 22px;
        }
    }

    &__left {
        width: fit-content;
        @media (max-width: 980px) {
            padding-bottom: 30px;
        }

        @media (max-width: $mobile_width) {
            padding-left: 3px;
            padding-bottom: 22px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 36px;
        line-height: 50px;
        width: 495px;

        @media (max-width: $mobile_width) {
            font-size: 20px;
            line-height: 30px;    
            width: fit-content;   
            max-width: 330px; 
        }
    }

    &__right {
        padding-right: 62px / (1600px - 215px * 2) * 100%;
        width: 100%;
        display: flex;
        justify-content: flex-end;

        @media (max-width: 1410px) {
            justify-content: center;
            padding: 0 0;
        }
        
        &__block {
            display: flex;
            justify-content: space-between;
            width: 337px;

            @media (max-width: 1220px) {
                width: 300px;
                min-width: 270px;
            }

            @media (max-width: 980px) {
                width: 337px;
            }

            @media (max-width: $mobile_width) {
                min-width: 150px;
                width: 196px;
            }
        }


        @media (max-width: $mobile_width) {
            padding-right: 35px / $mobile_width * 100%;
        }
    }

    &__bottom {
        padding: 0 30px / ($wrapper_width - $main_side_padding_sample) * 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: $mobile_width) {
            max-width: 327px;
            padding:  0 0;
            padding-right: 5px;
        }
    }

    &__img {
        height: 34px;
        
        &:nth-child(6) {
            @media (max-width: 1020px) {
                display: none;
            }
        }

        &:nth-child(5) {
            @media (max-width: 900px) {
                display: none;
            }
        }

        &:nth-child(4) {
            @media (max-width: 295px) {
                display: none;
            }
        }

        @media (max-width: $mobile_width) {
            height: 16px;
        }
    }
}

.rating {
    &__block {
        @media (max-width: $mobile_width) {
            // height: 60px;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 60px;
        line-height: 70px;
        letter-spacing: -1px;
        padding-bottom: 10px;

        @media (max-width: $mobile_width) {
            font-size: 36px;
            line-height: 36px;
            padding-bottom: 3px;
        }
    }
    
    &__imgs {
        padding-bottom: 12px;

        @media (max-width: $mobile_width) {
            padding-bottom: 9px;
        }
    }

    &__img {
        height: 15px;

        @media (max-width: $mobile_width) {
            height: 9px;
        }
    }

    &__text {
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;

        @media (max-width: $mobile_width) {
            font-size: 8.5px;
            line-height: 8.5px;
        }
    }
}




.features {
    padding-bottom: 100px;

    @media (max-width: $mobile_width) {
        padding-bottom: 20px;
    }
    
    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @extend %main_paddings;

        @media (max-width: $mobile_width) {
            padding: 0 20px;
        }
    }

    &__top, &__bottom {
        width: 100%;
        display: flex;
    }

    &__top {
        justify-content: center;
        text-align: center;
        padding-bottom: 48px;

        @media (max-width: $mobile_width) {
            padding-bottom: 40px;
        }

        &__block {
            max-width: 545px;

            @media (max-width: $mobile_width) {
                max-width: 340px;
            }
        }

        &__title {
            font-weight: 600;
            font-size: 48px;
            line-height: 64px;
            letter-spacing: -1px;
            text-transform: capitalize;
            color: $main_color;
            padding-bottom: 12px;


            @media (max-width: $mobile_width) {
                font-size: 24px;
                line-height: 24px;
            }
        }
    
        &__text {

            &_1 {
                font-size: 16px;
                line-height: 30px;
            }

            &_mobile {
                display: none;
            }

            @media (max-width: $mobile_width) {
                &_1 {
                    display: none;
                }

                &_mobile {
                    display: block;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }

    }

    &__block {
        width: 400px / ($wrapper_width - $main_side_padding_sample * 2) * 100%;
        padding-right: 20px;
    }

    &__img {
        height: 72px;

        @media (max-width: $mobile_width) {
            height: 48px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: $main_color;
        padding-top: 28px;
        padding-bottom: 14px;

        @media (max-width: $mobile_width) {
            font-size: 20px;
            line-height: 24px;
            padding-top: 20px;
            padding-bottom: 12px;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 26px;
        color: #18216D;
        padding-bottom: 30px;
        max-width: 320px;

        @media (max-width: $mobile_width) {
            font-size: 14px;
            line-height: 24px;
            padding-bottom: 20px;
        }
    }

    &__more {
        text-decoration: none;
        font-weight: 500;
        font-size: 20px;
        line-height: 16px;
        color: $main_color;
        position: relative;

        @media (max-width: $mobile_width) {
            font-size: 20px;
            line-height: 16px;
        }

        @extend %underline;
    }

    @media (max-width: 950px) {
        &__bottom {
            flex-direction: column;
            align-items: center;
        }

        &__block {
            padding-bottom: 60px;
            padding-right: 0;
            width: fit-content;
        }
    }

    @media (max-width: $mobile_width) {
        &__block {
            padding-left: 9px;
            padding-bottom: 48px;
        }
    }
}


.hide {
    margin-left: 100px;
    opacity: 0;


    @media (max-width: 475px) {
        margin-left: 10px;
    }
}